apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-service-deployment
  labels:
    app: application-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: application-service
  template:
    metadata:
      labels:
        app: application-service
    spec:
      containers:
        - name: application-service
          image: us-east1-docker.pkg.dev/strange-mind-478215-f0/demo-hackathon/application-service:latest
          ports:
            - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: application-service-svc
spec:
  selector:
    app: application-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3001
  type: NodePort
