apiVersion: apps/v1
kind: Deployment
metadata:
  name: patient-service-deployment
  labels:
    app: patient-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: patient-service
  template:
    metadata:
      labels:
        app: patient-service
    spec:
      containers:
        - name: patient-service
          image: us-east1-docker.pkg.dev/strange-mind-478215-f0/demo-hackathon/patient-service:latest
          ports:
            - containerPort: 3000
      serviceAccountName: demo-hackathon@strange-mind-478215-f0.iam.gserviceaccount.com
---
apiVersion: v1
kind: Service
metadata:
  name: patient-service-svc
spec:
  selector:
    app: patient-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP
